/* Thijmen Rosenberg */




body {
    background-color: #7b98dc;
    color: #4f7302;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    margin:auto;
}
h1{
    color:#A6430A;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
}
h2{
    color: #A6430A;
    font-size:  1.8em;
    border-bottom: 2px solid #a6430a;
    font-family: 'Playfair Display', sans-serif;
}
a{
    color:#f28907;
    text-decoration: underline;
}
a:hover{
    color:#a60303;
    text-decoration:none;
}
ul{
    color: #4f7302;
    list-style-type: square;
}
ol{
    color: #4f7302;
}
table{
    width: 40%;
    background-color: #FFFAF0;
    border:1px solid #DDDDDD
}
td{
    border: 1px solid #DDDDDD;
}
nav {
    background-color: #FFFF00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
}

nav .items {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav .items li {
    background-color: #FFFF00;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

nav li a {
    color: #4f7302;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 50px;
    transition: all 0.3s ease;
    margin-left: 25px;  
}

nav li a:hover {
    border-bottom: 2px solid #4f7302;
    filter: brightness(75%)
}

nav li a.active {
    color: #4f7302;
    border-bottom: 2px solid #f28907;
}
nav .logo {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: bold;
    color: #A60303;
    text-decoration: none;
}

.banner {
    width: 50%;
    height: 500px;
    background-image: url('Brawl-Stars-logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.container_recepten {
    width: 1140px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 21px;
    display: flex;
}

.brawlers {
    width: 366px;
    color: #000000;
    text-decoration: none;
}

.brawlers img {
    max-width: 75%;
    height: 200px;
    margin: 20px auto;
    border-radius: 5px;
    display: block;
}

footer {
    background-color: #4f7302;
    color: #fffaf0;
    text-align: center;
    padding: 10px 0;
    font-size: 1.0em;
    letter-spacing: 3px;
}

footer a {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: #fffaf0;
}

footer a:hover {
    text-decoration: underline;
    color: #A60303;
}